/* CSS Document */

@charset "UTF-8";
/* CSS Document */

/***********************************
SITE COLORS

Dark Blue:    #1e4386
Dark Blue:	  rgba(30,67,134,1.00)
Orange:       #e95927
Lighter Blue: #3f4fa1


White:        #fff
Almost White: #fefefe
Dark Grey:    rgba(70,70,70,0.95)
Dark Grey:    #464646
***********************************/



/***********************************
GENERAL RULES
***********************************/
body {
    color:#464646;
    background:#fff;
    font-family:"AvenirNextRegular", sans-serif;
}

.sectionTitle {
    font-family:"AvenirNextBold", sans-serif;
    text-align:center;
    color:#464646;
}

.sectionTitle span {
    color:#fff;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 50px;
	height: 0;
	margin:40px 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/***********************************
SITE HEADER
***********************************/
header {
    color:#fff;
    background:rgba(70,70,70,0.95);
}

header h1 {
    font-family:"AvenirNextBold", sans-serif;
}

nav a {
    color:#fff;
    text-decoration:none;
    display:inline-block;
}

.logoContainer h1 span {
    font-family:"AvenirNextMedium", sans-serif;
}

/***********************************
HEADER - Button Style
***********************************/

.btn {
    border:none;
    font-family:"AvenirNextMedium", sans-serif;
    color:inherit;
    background:none;
    cursor:pointer;
}

.btn:before {
    font-family:"AvenirNextMedium", sans-serif;
}

.btn-2 {
    background:#e95927;
    color:#fff;
}

/******************************
MAIN IMAGE
******************************/

.callOut {
    font-family:"AvenirNextBold", sans-serif;
}

.mainImage h1 {
    text-shadow:#333 2px 2px 2px;
    color:#fff;
}

/*************************
ABOUT
*************************/

.callOutTwo {
    font-family:"AvenirNextMedium", sans-serif;
}

/*****************************
CONTACT 
*****************************/

.contact {
    color:#fff;
    background:#e95927;
}

.contactMe {
    font-family:"AvenirNextMedium", sans-serif;
}

/*****************************
CONTACT - Contact Form
*****************************/

input, textarea {
    font-family:"AvenirNextRegular", sans-serif;
    color:#464646;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:1px solid #464646;
}

input:focus, textarea:focus {
    border-color:#000;
}

textarea {
    vertical-align:top;
    height:7em;
    resize:vertical;
}

ul {
    list-style-type:none;
}

label {
    font-family:"AvenirNextMedium", sans-serif;
    display:inline-block;
    text-align:left;
}

button {
    font-family:"AvenirNextBold", sans-serif;
    background:#1e4386;
}

/*****************************
Footer
*****************************/

footer {
    color:#e95927;
    background:#464646;
    text-align:center;
}

/****************************
PORTFOLIO PAGES
****************************/

.overlay figcaption {
    font-family:"AvenirNextRegular", sans-serif;
    color:#fff;
}

.overlay p, h2, h3 {
    color:#fff;
}

.overlay h3 {
    font-family:"AvenirNextMedium", sans-serif;
}

.overlay p {
    font-family:"AvenirNextRegular", sans-serif;
}

.overlay h2 {
    font-family:"AvenirNextBold", sans-serif;
}

.overlay h2 span {
    font-family:"AvenirNextRegular", sans-serif;
}

.overlay p span{
    font-family:"AvenirNextBold", sans-serif;
}

.overlay a {
    color:#e95927;
    text-decoration:none;
    letter-spacing:.12em;
}

.overlay a:hover {
    text-decoration:underline;
}

.overlay img {
	width:100%;
	vertical-align:middle;
	-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 3px;
	-o-box-shadow: rgba(0, 0, 0, .25) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, .25) 0 1px 3px;
	background: #fff; /* Solid background color as a fallback for IE */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -o-linear-gradient(top, #fff, #eee);
	background: linear-gradient(top, #fff, #eee);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}


