/* CSS Document */

/*********************************
Main Content Section
*********************************/

.mainLogo{
	background:url(../images/mainLogoMedium.png) no-repeat center center scroll;
	display:block;
	background-size:auto;
	width:188px;
	height:188px;
	margin-left:auto;
	margin-right:auto;
}

.mainPhoto {
	background:url(../images/bannerPhotoMedium.jpg) no-repeat center center scroll;
	background-size:cover;
	width:100%;
	height:auto;
	position:relative;
	padding:2.5rem 0 2.5rem 0;
}

.mainPortfolio {
	background:url(../images/PortfolioCoverMedium.jpg) no-repeat top center scroll;
	background-size:cover;
	width:100%;
	height:auto;
	position:relative;
	padding:10rem 0 10rem 0;
}

