/* CSS Document */
@charset "UTF-8";
/*  CSS Document */
/*  Responsive Design Document */

body { margin: 0; padding:0; }

header a.logo {
     display: block;
     background-repeat: no-repeat;
	 position:absolute;
	 background-position:0px 0px;
}

/***********************************
SITE HEADING
***********************************/

header {
	height:80px;
	background:rgba(70,70,70,0.95);
	position:fixed;
	width:100%;
	top:0;
	margin-right:auto;
	margin-left:auto;
	z-index:1000;
}

header a.logo {
	width:62px;
	height:62px;
	top:10px;
	left:10px;
	background-image:url(../images/headerLogoLarge.png);
}

.logoContainer {
	float:left;
	text-align:left;
	width:45%;
}

nav {
	background:none;
	float:right;
	margin-right:5%;
	text-align:right;
	width:45%;
	top:40px;
}

.headerTitle {
	padding:20px 0 0px 90px;
}

/*********************************
Main Content Section
*********************************/

.mainLogo{
	background:url(../images/mainLogoLarge.png) no-repeat center center scroll;
	display:block;
	background-size:auto;
	width:225px;
	height:225px;
	margin-left:auto;
	margin-right:auto;
}

.mainPhoto {
	background:url(../images/bannerPhotoLarge.jpg) no-repeat center center scroll;
	background-size:cover;
	width:100%;
	height:auto;
	position:relative;
	padding:2.5rem 0 2.5rem 0;
}

.mainIntro p {
	margin:5% 10% 0% 10%;
	padding-bottom:1rem;
}

.mainIntro h4 {
	margin-bottom:5%;
}

.buttonOne {
	float:left;
	width:45%;
	margin-right:5%;
	text-align:right;
}

.buttonTwo {
	float:right;
	width:45%;
	margin-left:5%;
	text-align:left;
}

.mainPortfolio {
	background:url(../images/PortfolioCoverLarge.jpg) no-repeat top center scroll;
	background-size:cover;
	width:100%;
	height:auto;
	position:relative;
	padding:10rem 0 10rem 0;
}

/*************************
ABOUT
*************************/

.profileImage {
	background-repeat:no-repeat;
	background-position:top left;
	display:block;
	margin-left:5%;
	margin-top:22px;
	float:left;
	width:27%;
	height:900px;
}
.profileBio {
	display:block;
	margin-right:5%;
	margin-left:2%;
	float:right;
	width:61%;
}

/******************
PORTFOLIO
******************/

.gallery {
	clear: both;
}

.gallery li {
    width: 28.33333%;
}
  
.gallery li:nth-child(4n) {
	clear:left;
}

/******************
PORTFOLIO DISPLAY
******************/
.previous {
	float:left;
	width:33%;
	text-align:center;
}

.back {
	float:left;
	width:33%;
	text-align:center;
}

.next {
	float:right;
	width:33%;
	text-align:center;
}