/***************************
GENERAL RULES
***************************/

.wrapper {
    margin-top:60px;
}

.sectionTitle {
    font-size:.9em;
    letter-spacing:.08em;
    margin:0 auto 40px;
}


/*************************
SITE HEADER
*************************/

header {
    height:60px;
    position:fixed;
    width:100%;
    top:0;
    margin-right:auto;
    margin-left:auto;
    z-index:1000;
}

.logoContainer h1 {
    left:.75rem;
}

.logoContainer img {
    max-width:30px;
    max-height:30px;
}

.logoContainer {
    margin-left:.75rem;
    margin-top:15px;
}

header h1 {
    font-size:.7em;
    letter-spacing:.07em;
    vertical-align:middle;
    margin-top:7px;
}

nav {
    margin-right:.75em;
    width:50%;
    vertical-align:middle;
}

nav a {
    font-size:.7em;
    margin-left:1em;
    letter-spacing:.08rem;
    margin-top:20px;
}

/***************************
HEADER - Button Style
***************************/

.btn {
    font-size:.9em;
    padding:.25em 1em;
    border-radius:3px;
    display:inline-block;
    margin:2px auto;
    letter-spacing:.08em;
    outline:none;
    position:relative;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    transition:all 0.3s;
}

.btn:after {
    content:'';
    position:absolute;
    z-index:-1;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    transition:all 0.3s;
}

.btn-2 {
    box-shadow:0 4px #c3491f;
    -webkit-transition:none;
    -moz-transition:none;
    transition:none;
}

.btn-2h {
    border-radius:20px;
}

.btn-2h:hover {
    box-shadow:0 2px #c3491f;
}

.btn-2h:active {
    box-shadow:0 0 #c3491f;
    top:4px;
}

/*************************
MAIN IMAGE
*************************/

.mainImage {
    background:url(../img/main-image-s.jpg) no-repeat center center scroll;
    background-size:cover;
    width:100%;
    height:281px;
    position:relative;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    transform-style:preserve-3d;
}

.mainImage h1 {
    font-size:1.75rem;
    letter-spacing:.08em;
}

.headline {
    margin-left:85px;
    position:absolute;
    top:50%;
    -webkit-transform:translate(0,-50%);
    -moz-transform:translate(0,-50%);
    transform:translate(0,-50%);
}

/*************************
INTRODUCTION
*************************/

.introduction {
    margin:60px 12.19875% 0px;
}

.introduction p {
    font-size:.9em;
    letter-spacing:.08em;
    line-height:1.8em;
}

/*************************
WORK
*************************/

.work {
    margin:60px auto 0px;
}

/*************************
ABOUT
*************************/

.about {
    margin:60px 12.19875%;
}

.about p {
    font-size:.9em;
    letter-spacing:.08em;
    line-height:1.8em;
}

/*********************
CONTACT
*********************/

.contact p {
    margin:0 12.1875%;
    font-size:.9em;
    letter-spacing:.08em;
    line-height:1.8em;
}

/*********************
CONTACT - Contact Form
*********************/

input, textarea {
    font-size:.9em;
    width:250px;
}

label {
    font-size:.9em;
    letter-spacing:.08em;
    width:130px;
}

form {
    margin:0 auto;
    width:400px;
    padding-top:45px;
}

form div + div {
    margin-top:1.25em;
}

.button {
    padding-left:130px;
}

button {
    margin-left:.5em;
    padding:.5em 1em;
    border-radius:8px;
    font-size:.9em;
    letter-spacing:.08em;
}

/************************
FOOTER
************************/
footer {
    padding:10px 0;
    width:100%;
}

footer p {
    font-size:.6em;
    letter-spacing:.08em;
}

/****************************
PORTFOLIO PAGES
****************************/

.overlay .overlay-close {
    position:fixed;
    right:.75em;
    top:20px;
    overflow:hidden;
    border:none;
    outline:none;
    z-index:100;
    text-indent:200%;
    background-image:url(../img/cross.png);
    background-repeat:no-repeat;
    background-position:center center;
    width:50px;
    height:50px;
}

.overlay h3 {
    padding-top:1.5em;
}

.overlay p {
    font-size:.9em;
    letter-spacing:.08em;
    line-height:1.8em;
    padding-bottom:.5em;
}

.overlay h2 {
    font-size:1.2em;
    letter-spacing:.1em;
}

.overlay section {
    margin:100px 12.1875% 50px 12.1875%;
}

.overlay figure img {
	max-width:100%;
	height:auto;
}

.overlay figcaption {
    letter-spacing:.08em;
    font-size:.8em;
    line-height:1.8em;
}

.overlay figure {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3em;
}

.single {
    margin-top:3em;
}
